*{
    margin: 0;
}
#about{
    text-align: center;
    margin-top: 80px;
    font-size: xx-large;
    color: #165e98;
    margin-bottom: 20px;
}
#paragraph{
    text-align: center;
    margin-right: 140px;
    margin-left: 140px;
    font-size: large;
    color: #165e98;
    line-height:28px;
}
#boxes{
    display: flex;
    gap:40px;
    margin-left: 30px;
}
#box1{
    width:275px;
    height:275px;
    border:2px solid #165e98;
    text-align: center;
}