#enter{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 60px;
}
.name{
    display:flex;
    justify-content: center;
    align-items: center;
}
#form{
    display: flex;
    justify-content: center;
}
#middle{
    display: block;
    border:2px solid #165e98;
    padding:60px;
}
#sub-but{
    border-radius: 10px;
    width: 100px; 
    height: 30px;
    font-size: medium;
    margin-top: 20px;
}
#sub-but:hover{
    opacity: 0.8;
    transform: scale(1.1);
    cursor: pointer;
}